body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    height: 700px;
    width: 700px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    flex: 1 0 41.75px;
}